.drawui-input {
  position: relative !important;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.drawui-input-field {
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
}

.drawui-input-icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  pointer-events: none;
}
