:root {
    font-family: "Playpen Sans", cursive;
}

*{
     font-family: "Playpen Sans", cursive;
}

body{
    background-image: radial-gradient(#937e7e72 1px, transparent 1px);
    background-size: 20px 20px;
}