.drawui-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background: transparent; 
  border: none;
  outline: none;
}
